﻿body {
}

.table > :not(caption) > * > * {
    padding: 0.25rem 0.25rem !important;
}

table.last-py-0 td:last-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

table.last-py-0 .list-inline-item:not(:last-child) {
    margin-right: 0.0rem !important;
}

.min-width-150 {
    min-width: 150px !important;
}

.input-group-text {
    padding: 0.5rem 1.1rem !important;
}

.form-icon i {
    left: 13px !important;
}

label.required::after {
    content: '*';
    color: red;
}

.col-form-label {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
    font-weight: 500 !important;
}

.col-form-label-light {
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
}

.card-header {
    border-top: 1px solid var(--vz-border-color);
}

.badge {
    font-size: 0.825rem;
}

.choices[data-type*=select-one] {
    cursor: pointer;
}

.choices {
     margin-bottom: unset !important; 
}

td .choices {
    margin-top: -4px !important;
}

.choices__item choices__placeholder choices__item--selectable {
    overflow: hidden !important;
    max-height: 15px;
}

.form-control:not(input[type='password'],.ccnormal) {
    padding: 0.35rem 0.55rem !important;
    text-transform: uppercase;
}

tr.height-override td .form-control:not(input[type='password'],.ccnormal,textarea) {
    padding: 20% 0.55rem !important;
}

.search-form .form-control {
    text-transform: unset !important;
}

.search-form .form-icon i {
    left: 20px !important;
}

.search-box .form-control {
    padding-left: 40px !important;
}

.choices__inner {
    min-height: auto !important;
    padding-right: 2.6rem !important;
}

.choices__list.choices__list--dropdown {
    min-width: max-content !important;
}

tr.height-override td .choices__inner {
    padding: 7% 0px !important;
}

td .choices__inner {
    border: none !important;
    background-color: transparent !important;
}

.choices__list--single {
    padding: 2px 16px 1px 1px !important;
}

tr.height-override td .choices__list--single {
    padding: 0px 16px 0px 0px !important;
}

tr.height-override td .choices[data-type*=select-one]:after {
    top: 55% !important;
}

td .choices[data-type*=select-one]:after {
    right: 3.5px !important;
}

td .form-control {
    border: none !important;
}

.force-validation-off {
    border: none !important;
}

.text-danger {
    display: none;
}

.is-invalid ~ .text-danger, .is-invalid ~ .invalid-tooltip, .was-validated :invalid ~ .text-danger, .was-validated :invalid ~ .invalid-tooltip {
    display: block;
}

td .form-control.is-valid, .was-validated td .form-control:valid {
    border: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border: 1px solid var(--vz-input-border) !important;
    background-image: none !important;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.btn {
    padding: 0.32rem 0.9rem !important;
}

tfoot .btn {
    padding: 0rem 0.9rem !important;
}

.gridjs-head{
    padding-left: 0px !important;
}

.only-currency, .only-number, .only-price {
    text-align: right !important;
}

.company_caption .choices__inner {
    background-color: transparent !important;
    padding: 0px 10px !important;
    border: none !important;
}

.company_caption .choices__inner .choices__list.choices__list--single {
    color: rgba(255,255,255,.85) !important;
    font-size: 2rem !important;
    font-weight: bolder !important;
}

.company_caption .choices[data-type*=select-one]:after {
    color: rgba(255,255,255,.85) !important;
    top: 35% !important;
}

.company_caption .choices[data-type*=select-one]:after {
    right: 12.5px !important;
}

.was-validated :invalid ~ .choices > .choices__inner {
    border-color: #ed5e5e;
}

.was-validated :invalid ~ .choices div.choices__item.choices__placeholder.choices__item--selectable {
    color: #ed5e5e;
}

.ri-folders-fill {
    color: lightcoral;
}

a.jstree-anchor:has(.ri-folders-fill) {
    font-weight: bold !important;
}

a.jstree-anchor.jstree-clicked {
    font-style: italic !important;
}

.ri-sim-card-2-fill {
    color: cornflowerblue !important;
}

.footer {
    position: fixed !important;
    box-shadow: 0 2px 24px rgb(15 34 58 / 12%) !important;
    padding: 15px calc(1.5rem / 2) !important;
    height: 50px !important;
}

.form-control[readonly].only-datetime:not(.no-openClick) {
    background-color: transparent !important;
    opacity: 1;
}